// ===============
// LATEST NEWS SECTION
// ===============

.latest {
    margin: 100px 0; 
    @include break-point(large){
        margin: 50px 0;
    }
    .image-list {
        display: flex;
        justify-content: space-between;
        // display: block;
        @include break-point(medium){
            flex-direction: column;
        }
        .image-list__image {
            width: 100%;
            @include break-point(medium){
                width: 40%;
                display: block;
                margin: 0 auto;
            }    
        }
    }
}

@include break-point(medium){
    .latest {
        .image-list__link {
            .image-list__heading {
                text-align: center;
            }
        }
    }
}


.image-list__item {
    @include break-point(medium){
        // display: block;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;

        // margin: 0 auto;
    }
    .image-list__link {
        text-decoration: none;
        .image-list__heading--colour, .image-list__icon {
            color: $highlight-color;
        }
    }
}

.include break-point(medium){
    .image-list__heading {
        margin: 0 auto;
        // display: flex;
        // justify-content: center;
        display: block;
    }
}


// ===============
// FORM / ASK A QUESTION SECTION 
// ===============


// ???how come input text is transparent???

.question {
    background-color: rgb(242, 176, 148);
    padding: 50px;
}

.form__input {
    border-top: 2px solid rgb(42, 42, 42);
    border-bottom: 2px solid rgb(42, 42, 42);
    border-right: none;
    border-left: none;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    display: block;
    background-color: rgb(242, 176, 148);
    color: rgb(42, 42, 42);
} 

.form__submit {
    display: block;
    margin: 20px auto;
    background-color: rgba(255,255,255,10);
    border: 1px solid;
    text-align: center;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    display: block;
    color: rgb(42, 42, 42);
    letter-spacing: 5px;
}

// ===============
// ALL PICTURES SECTION
// ===============

// ???work on the hovers???
// ???center the box???
//figure out how to make the nav full height???

.latest-pics {
    background-color: rgb(239, 239, 239);
    // display: flex;
    // justify-content: center;
    // text-align: center;
    padding: 100px 0;
    // margin: 0 auto;
    nav {
        padding-right: 20px;
        margin-top: 20px;
        width: 25%;
        height: 100%;
        // padding-top: 10px;
        // display: flex;
        // flex-direction: column;
        // height: 100%;
        // width: 20%;
        // height: 606px;
        @include break-point(largeish){
            width: 100%;
            padding: 0;
            // height: 20px;
        }
        .pics-nav {
            display: flex;
            flex-direction: column;
            @include break-point(largeish){
                flex-direction: row;
                justify-content: space-around;
                height: 90px;
                width: 100%;
                padding: 15px 0;
                margin: -100px auto;
            }
            // @include break-point(small){
            //     .pics-nav li:nth-child(2){
            //         display: none;
            //     }
            // }
        }
    }
}

@include break-point(small) {
    .latest-pics nav .pics-nav li:nth-child(2) {
        display: none;
    }
    .latest-pics nav .pics-nav li:nth-child(3) {
        display: none;
    }
    .latest-pics nav .pics-nav li:nth-child(4) {
        display: none;
    }
    .latest-pics nav .pics-nav li:nth-child(5) {
        display: none;
    }
}


.latest-pics__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    @include break-point(largeish){
        flex-direction: column;
    }
}

.pics-nav {
    display: none;
}

// .latest-pics {
//     nav {
//         .pics-nav {
//             display: flex;
//             flex-direction: column;
//         }
//     }
// }


.pics-nav {
    background-color: rgb(96, 96, 96);
    padding: 20px;
    text-align: center;
    height: 495px;
    display: block;
    .pics-nav__link {
        text-decoration: none;
        .pics-nav__heading {
            color: rgb(255, 255, 255);
            line-height: 30px;
            @include break-point(largeish){
                font-size: 2rem;
            }
        }
    }
}

// ===============
// PICS GRID 2X2
// ===============

.pics {
    display: flex;
    flex-wrap: wrap;
    // margin: 0 auto;
    @include break-point(largeish){
        margin: 0 auto;
    }
    @include break-point(medium){
        margin: 0 auto;
        justify-content: center;
    }
}

// @include break-point(mediumish){
//     .pics {
//         .latest-pics__container {
//             margin: 0 auto;
//         }
//     }
    
// }

.pics .pics__item {
    position: relative;
    margin: 20px 15px;
    // margin: 0;
    // padding: 10px;
    // padding: 10px;
}


.pics__item h2 {
    display: none;
}

.pics__image {
    width: 300px;
    display: block;
    max-height: 280px;
}

.pics__item:hover .hover h2{
    color: rgb(230, 226, 226);
    font-size: 32px;
    padding: 30% 0;
    margin: 0;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0.3));
}

// ===============
// MEDIA QUERY 870PX
// ===============

