// ===============
// HEADER AND NAVIGATION
// ===============

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
}

// ===============
// HEADER
// ===============

header {
    background-image: url(../assets/image-1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: whitesmoke;
    padding: 1px;
}

// ===============
// NAVIGATION
// ===============

header section {
    display: flex;
    justify-content: space-around;
    position: relative;
    @include break-point(medium){
        flex-direction: column;
        padding: 15px;
        .header__heading {
            margin: 0 auto;
        }
    }
}

ul {
    padding: 0;
    list-style-type: none;
}

.header-nav {
    display: flex;
    @include break-point(medium){
        justify-content: center;
        margin-top: -15px;
    }
    .nav__item {
        padding-left: 25px;
        .nav__link {
            text-decoration: none;
            .nav__heading {
                font-weight: 600;
            }
        }  
    }
}

// ===============
// TEXT
// ===============

.header__content {
    @include break-point(medium) {
        // display: none;
    }
    position: absolute;
    top: 35%;
    left: 60%;
    h3 {
        .header__content--bigtext {
            font-size: 80px;
        }
    }
}


// ===============
// BUTTON 
// ===============

.header__content {
    @include break-point(mediumish){
        display: none;
    }
    h3 {
        line-height: 30px;
        @include break-point(large) {
            font-size: 1.8rem; 
            .header__content--bigtext {
                font-size: 6rem;
            } 
        }
    }

    button {
        margin-top: -15px;
        @include break-point(large) {
            width: 110px;
            h3 {
                font-size: 1.6rem;
            }
        }
    }
}

.btn {
    background-color: rgba(255,255,255,10);
    border: 1px solid;
    text-align: center;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    display: block;
    h3 {
     line-height: 0;
     letter-spacing: 5px;
     } 
}





