// ===============
// HEADER AND NAVIGATION
// ===============

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
}

// ===============
// HEADER
// ===============

header {
    background-image: url(../assets/image-1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: whitesmoke;
    padding: 1px;
    position: relative;
    @include break-point(small){
        background-image: linear-gradient(
        rgba(255, 255, 255, 0.5)
        ), url(../assets/image-1.jpeg);
    }
}

// ===============
// NAVIGATION
// ===============

header section {
    display: flex;
    justify-content: space-around;
    position: relative;
    // z-index: 1;
    @include break-point(medium){
        flex-direction: column;
        padding: 15px;
        .header__heading {
            margin: 0 auto;
        }
    }
}

ul {
    padding: 0;
    list-style-type: none;
}

.header-nav {
    display: flex;
    @include break-point(medium){
        justify-content: center;
        margin-top: -15px;
    }
    @include break-point(mediumish){
        margin-left: -20px;
    }
    .nav__item {
        padding-left: 25px;
        .nav__link {
            text-decoration: none;
            .nav__heading {
                font-weight: 600;
            }
        }  
    }
}

.header-nav {
    .nav__heading:hover {
        color: rgb(190, 200, 132);
        transition: all .3s linear;
    }
}

@include break-point(mediumish){
        .header-nav li:nth-child(1){
            display: none;
        }
        .header-nav li:nth-child(4){
            display: none;
        }
    }

// ===============
// TEXT
// ===============

.header__content {
    position: absolute;
    top: 35%;
    left: 60%;
    margin: 0 auto;
    @include break-point(small){
        left: 20%;
        margin: 0 auto;
        padding: 20px;
    }
    h3 {
        .header__content--bigtext {
            font-size: 80px;  
        }
    }
}

// ===============
// BUTTON 
// ===============

.header__content {
    @include break-point(mediumish){
        // display: none;
    }
    h3 {
        line-height: 30px;
        @include break-point(large) {
            font-size: 1.8rem; 
            .header__content--bigtext {
                font-size: 6rem;
            } 
        }
    }

    button {
        margin-top: -15px;
        @include break-point(large) {
            width: 110px;
            h3 {
                font-size: 1.6rem;
            }
        }
    }
}

button {
    @include break-point(mediumish){
        margin: 0 auto;
    }
}

.btn {
    background-color: rgba(255,255,255,10);
    border: 1px solid;
    text-align: center;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    display: block;
    h3 {
     line-height: 0;
     letter-spacing: 5px;
     } 
}





